html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: linear-gradient( #00e1ff, #007585, #45848c, #7af0ff);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.inicio{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  background-color: #ffffff;
  color: black;
  flex-wrap: wrap;
  border: 1px solid black;
}

.nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background-color: #ffffff;
  color: black;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 1.2rem;
}

main {
  min-height: 100vh;
  padding: 4rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  animation: slideIn 1s ease-in-out;
}

@keyframes slideIn{
  0%{
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}


.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.grid2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.perfil{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
} 

.informaçoes{display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            max-width: 1750px;
            border: 1px solid black;
            border-radius: 10px;
              background-color: #56b6c2
            }

.informaçoes h2{
  font-size: 3rem;
}

.informaçoes p{
  font-size: 1.5rem
}

.informaçoes img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 20px;
  background-color: white
}

.img-perfil{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 800px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10px;
  margin-bottom: 10px
}

.perfil img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 20px;
  background-color: white;
}

.info{margin: 1rem;
     padding: 1.5rem;
     text-align: left;
     color: inherit;
     text-decoration: none;
     border: 1px solid #000000;
     border-radius: 10px;
     transition: color 0.15s ease, border-color 0.15s ease;
     max-width: 300px;
     background-color: #78f7f5;}

.info:hover,
.info:focus,
.info:active {
  color: #ff7ab4;
  border-color: #ff006f;
}

.info h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.info p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  align-items: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #000000;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;

}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.card2 {
  margin: 1rem;
  padding: 1.5rem;
  width: 800px;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #000000;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 800px;
  background-color: #78f7f5;
}

.card2 img{
  width: 750px;
  height: 300px;
  border-radius: 10px;
  align-items: center;
}

.card2:hover,
.card2:focus,
.card2:active {
  color: #ff7ab4;
  border-color: #ff006f;
}

.card2 h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card2 p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

footer{
  color: black;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid black;
}

footer h2{
  font-size: 1.5rem;
  padding: 10px;
}

footer p{
  font-size: 1.25rem
}

.fim{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10px;
  margin-bottom: 10px
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
  }

  .grid2{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    margin-right: 80px;
  }

  .grid2 img{
    width: 260px;
    height: 150px
  }

  .informaçoes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 8000px;
    border: 1px solid black;
    border-radius: 10px;
  }

  .informaçoes img{
     width: 200px;
     height: 200px;
     border-radius: 50%;
     margin: 20px
  }

  .img-perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    max-width: 800px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10px;
  }

  .perfil img{
     width: 50px;
     height: 50px;
     border-radius: 50%;
     margin: 20px;
     margin-left: 0px;
     margin-right: 0px;
  }

  .card2{
    width: 400px;
    max-width: 400px;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px}

  .fim{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    color: inherit;
    text-decoration: none;
    border-radius: 10px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10px;
  }

  .fim h2{
    font-size: 1.25rem;
    padding: 10px;
  }

  .fim p{
    font-size: 1rem
  }

  .footer{
    color: black;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid black
  }

  .footer h2{
    font-size: 1.25rem;
    padding: 10px;
  }  

  .footer p{
    font-size: 1rem
  }

  .title{
    font-size: 2rem
  }

  .description{
    font-size: 1rem
  }

  .info{
    font-size: 1rem
  }

  .info h2{
    font-size: 1.25rem
  }

  .info p{
    font-size: 1rem
  }

   .card2{
      width: 300px;
      max-width: 400px;
      align-items: center;
      justify-content: center;
      margin-left: 10%;
      margin-right: 15%;
      margin-top: 10px;
   }

  .card2 h2{
    font-size: 1.25rem
  }

  .card2 p{
    font-size: 1rem
  }

  .footer{
    font-size: 1rem
  }

  
}
